run = "npx pnpm@8 --filter server dev"

[deployment]
run = ["npx", "pnpm@8", "--filter", "server", "start"]
build = ["sh", "-c", "npx pnpm@8 install --frozen-lockfile && npx pnpm@8 turbo run build --filter=server"]
